html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  margin: 0;
  width: 100%;
  *zoom: 1;
  font-size: 18px;
  color: #595554;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/* end of css reset */

@font-face {
    font-family: MuseoSans;
    src: url(fonts/museo-sans-500.woff);
}

@font-face {
    font-family: MuseoSansRounded;
    src: url(fonts/MuseoSansRounded-500.otf);
}

body {
  position: absolute;
  height: 100%;
  zoom: 2; 
  -moz-transform: scale(2); 
  -moz-transform-origin: 0 0;
}

.Rectangle-2 {
  width: 720px;
  height: 706px;
  background-image: linear-gradient(to bottom, #93edc7, #1cd8d2);
}

article {
  position: relative;
}

#main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  position: absolute;
  top: 50px;
  left: 50px;
}

.NOMAD-AIRLINES {
  width: 167px;
  height: 18px;
  font-family: MuseoSans;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 3px;
  color: #ffffff;
}

.Rectangle {
  width: 221.5px;
  height: 455px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.11);
}

.BOARDING-PASS {
  margin-top: 20px;
  font-family: MuseoSans;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 2.4px;
  color: #20d8d1;
  text-align: center;
}

.Line {
  width: 222px;
  border-top: solid 0.5px #e5e5e5;
  margin: 16px 0;
}

/* flight section */

.flight {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  padding: 0 20px;
}

.third {
  flex: 1 100%;
}

.third > * {
  width: 100%;
  margin: 0 auto;
}

.JFK {
  width: 54px;
  height: 33px;
  font-family: MuseoSansRounded;
  font-size: 27.5px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 3.1px;
  color: #6c6c6c;
}

.JFK .text-style-1 {
  letter-spacing: 2.8px;
}

.NEW-YORK {
  width: 31px;
  height: 7px;
  font-family: MuseoSansRounded;
  font-size: 6px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #cacaca;
}

.SFO {
  width: 65.5px;
  height: 33px;
  font-family: MuseoSansRounded;
  font-size: 27.5px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 3px;
  color: #6c6c6c;
}

.SFO .text-style-1 {
  letter-spacing: 2.8px;
}

.SAN-FRANCISCO {
  width: 46.5px;
  height: 7px;
  font-family: MuseoSansRounded;
  font-size: 6px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #cacaca;
}

/* menu */

.menu {
  width: 80%;
  margin: 0 auto;
}

.Checklist-before-dep {
  font-family: MuseoSans;
  font-size: 9px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #20d9d2;
  text-align: center;
  line-height: 20px;
  margin-bottom: 10px;
}

ol {
  counter-reset: my-badass-counter;
}

ol > li:before {
  display: inline-block;
  content: counter(my-badass-counter);
  counter-increment: my-badass-counter;
  font-family: MuseoSansRounded;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.1px;
  color: #34dccf;
  width: 14.5px;
  height: 14.5px;
  border: solid 1px #34dccf;
  border-radius: 14.5px;
  text-align: center;
  line-height: 15.5px; /* 14.5 + 1 */ 
  letter-spacing: 0;
  margin-right: 10px;
  vertical-align: middle;
  margin-left: 10px;
}

ol > li {
  width: 100%;
  padding: 12px 0;
  font-family: MuseoSans;
  font-size: 8px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #5d5d5d;
  border-bottom: solid 0.5px #f5f5f5;
}

ol > li:last-child {
  border: 0;
}

/* secondary pages */

.lnk-back {
  display: block;
  position: absolute;
  top: 20px;
  left: 24px;
  width: 10px;
  height: 10px;
  background-image: url(assets/right.svg);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

ul > li {
  position: relative;
  margin: 20px 0;
  padding-left: 30px
}

.menu-item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu-item-title {
  font-family: MuseoSans;
  font-size: 8px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #5d5d5d;
  margin-bottom: 4.5px;
}

.menu-item-desc {
  font-family: ElectraLTStd, 'Times New Roman', Times, serif;
  font-size: 8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #6c6c6c;
}

.menu-item-tweep {
  text-align: right;
  font-family: MuseoSans;
  font-size: 6px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #bfbfbf;
  margin-top: 2.5px;
}

/*
@media (max-width: 600px) {
  #features {
    flex-direction: column;
  }
  #features article {
    width: 100%;
    margin-top: 40px;
  }
  #features h2 {
    min-height: auto;
    margin-bottom: 10px;
  }
}
*/
