html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #2C2E34;
  background: #fff;
  margin: 0;
  width: 100%;
  zoom: 1;
  font-size: 18px;
  font-family: MuseoSans;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/* end of css reset */

@font-face {
    font-family: MuseoSans;
    src: url(fonts/museo-sans-500.woff);
}

@font-face {
    font-family: MuseoSansRounded;
    src: url(fonts/MuseoSansRounded-500.otf);
}

/* common elements */

body {
  position: absolute;
  width: 100%;
  height: 100%;
  zoom: 2;
  -moz-transform: scale(2);
  -moz-transform-origin: 0 0;
}

section {
  background: #FAFAFA;
}

/* header and footer */

header {
  padding: 30px 0;
  padding-bottom: 10px;
}

.header-title {
  font-family: MuseoSansRounded;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -2px;
  text-align: center;
}

.header-tagline {
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.5px;
  text-align: center;
  opacity: .7;
  margin-top: 5px;
}

footer {
  height: 80px;
}

.logo {
  display: block;
  width: 50px;
  opacity: .1;
  height: 50px;
  background-image: url(assets/mangrove_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  transition: opacity .15s linear;
}

.logo:hover {
  opacity: .13;
}

/* page navigation header */

nav {
  font-size: 8px;
  display: table;
}

nav hr {
  margin: 0;
  border: 0;
  width: 0.5px;
  height: 5px;
  background: black;
  opacity: .1;
}

nav > * {
  display: table-cell;
}

nav > a {
  padding: 10px 7px;
  color: rgba(44, 46, 52, 0.28);
  cursor: pointer;
}

nav > a:hover {
  color: rgba(44, 46, 52, 0.4);
}

nav span {
  color: rgba(44, 46, 52, .7);
}

/* page background */

.card-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;

  /* avoid to cut shadows 🌝 */
  padding: 10px 0;
}

.card-wrapper:after, .card-wrapper:before {
  z-index: 0;
  height: 50px;
  width: 120%;
  position: absolute;
  content: '';
  background-image: linear-gradient(-270deg, #FF512F 0%, #DD2476 100%);
  top: 0;
  height: 150px;
  bottom: 0;
  margin: auto;
  transform: rotate(-10deg);
  left: -10%;
}

.card-wrapper:before {
  opacity: .15;
  transform: rotate(-15deg);
  top: -80px;
}

/* main content structure */

#main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  position: relative;
  flex: 0;
}

.card {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 100%;
  max-width: 220px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.11);
}

h3 {
  padding-top: 20px;
  font-family: MuseoSans;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 2.4px;
  color: #20d8d1;
  text-align: center;
  text-transform: uppercase;
}

.Line {
  width: 100%;
  border-top: solid 0.5px #e5e5e5;
  margin: 16px 0;
}

/* home: structure for adding holes in article card */

.home-article-wrapper {
  position: relative;
  background: none;
}

.home-article-wrapper > article {
  padding: -20px;
  background: none;
}

.home-article-wrapper > article > *{
  background: white;
}

.card-top {
  border-bottom: 0 none;
  border-radius: 4px 4px 0px 0px;
}

.card-bottom {
  border-top: 0 none;
  border-radius: 0px 0px 4px 4px;
}

.main-article-separator {
  position: relative;
  top: 0px;
  overflow: hidden;
  margin: 0 auto;
  width: 220px;
  height: 20px;
  background: transparent !important;
  z-index: 2;
}

.separator-left {
  position: absolute;
  left: -10px;
  top: 0px;
  width: 20px;
  background: transparent;
  height: 20px;
  border-radius: 10px;
  box-shadow: 0 0 0 120px white;
}

.separator-right {
  position: absolute;
  right: -10px;
  top: 0px;
  width: 20px;
  background: transparent;
  height: 20px;
  border-radius: 10px;
  box-shadow: 0 0 0 120px white;
}

.separator-line {
  position: relative;
  width: 88%;
  margin: 0 auto;
  top: 10px;
  border-top: 1px dashed #e5e5e5;
}

/* home: flight section */

.flight {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  padding: 0 30px;
}

.third {
  flex: 1 100%;
}

.third > * {
  width: 100%;
  margin: 0 auto;
}

.airport {
  font-family: MuseoSansRounded;
  font-size: 27.5px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 3px;
  color: #6c6c6c;
}

.plane {
  background-image: url(assets/plane.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 20%;
  width: 24px;
  height: 24px;
}

.city {
  font-family: MuseoSansRounded;
  font-size: 6px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #cacaca;
  margin-top: 2px;
}

/* home: announcement */

.announcement {
  padding: 20px;
}

.announcement-title {
  font-family: MuseoSans;
  font-size: 8px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #5d5d5d;
  margin-bottom: 5px;
}

.announcement-text {
  font-family: MuseoSans;
  font-size: 7.8px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #b5b5b5;
}

.announcement a {
  color: inherit;
}

/* home: menu */

.menu {
  width: 80%;
  margin: 0 auto;
}

.Checklist-before-dep {
  font-family: MuseoSans;
  font-size: 9px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #20d9d2;
  text-align: center;
  line-height: 20px;
  margin-bottom: 10px;
}

ol {
  counter-reset: my-badass-counter;
}

ol li:before {
  display: inline-block;
  content: counter(my-badass-counter);
  counter-increment: my-badass-counter;
  font-family: MuseoSansRounded;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.1px;
  color: #34dccf;
  width: 14.5px;
  height: 14.5px;
  border: solid 1px #34dccf;
  border-radius: 14.5px;
  text-align: center;
  line-height: 15.5px; /* 14.5 + 1 */
  letter-spacing: 0;
  margin-right: 10px;
  vertical-align: middle;
  margin-left: 10px;
}

ol li.visited:before {
  background-color: #5ae3cc;
  box-shadow: inset 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.23);
  content: '';
}

ol a {
  text-decoration: none;
}

ol li {
  width: 100%;
  padding: 12px 0;
  font-family: MuseoSans;
  font-size: 8px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #5d5d5d;
  border-bottom: solid 0.5px #f5f5f5;
  background-image: url('assets/right.svg');
  background-repeat: no-repeat;
  background-position: right 15px;
  background-size: 5px;
}

ol > *:last-child li {
  border: 0 none;
}

/* secondary pages */

.lnk-back {
  display: block;
  position: absolute;
  top: 20px;
  left: 24px;
  width: 10px;
  height: 10px;
  background-image: url(assets/right.svg);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

ul {
  padding-bottom: 20px;
}

ul > li {
  position: relative;
  margin-top: 20px;
  padding-left: 30px;
}

ul > li a {
  text-decoration: none;
}

ul > li a:hover {
  text-decoration: underline;
  color: inherit;
}

ul > li a.menu-item-tweep:hover {
  text-decoration: none;
}

.menu-item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.menu-item-title {
  font-family: MuseoSans;
  font-size: 8px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #5d5d5d;
  margin-bottom: 4.5px;
}

.menu-item-desc {
  font-family: ElectraLTStd, 'Times New Roman', Times, serif;
  font-size: 8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #6c6c6c;
}

.menu-item-tweep {
  display: block;
  text-align: right;
  font-family: MuseoSans;
  font-size: 6px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #bfbfbf;
  margin-top: 2.5px;
}

@media (max-width: 900px) {
  header {
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
  }
}
